.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10rem;
}
.container div {
  width: 800px;
  max-width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.input-box{
  background-color: rgb(255, 230, 230);
  height: 70px;
}
.todos {
  background-color: rgb(222, 255, 209);
  height: auto;
  flex-direction: column;
}
p{
  margin: 5px;
}